.footer {
    background-color: #fff;
    color: #000;
    padding: 40px 80px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    height: 300px;
}

.footer-top {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    
}

.footer-logo {
    width: 100px;
    height: auto;
}

.footer-links {
    display: flex;
    gap: 600px;
    margin-top: 30px;
    margin-left: 200px;
}

.footer-column h4 {
    font-size: large;
    margin-bottom: 16px;
    font-weight: 600;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: large;
}

.footer-column li {
    margin-bottom: 10px;
}

.footer-column a {
    color: #777;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-column a:hover {
    color: #000;
    font-weight: bold;
}

.footer-bottom {
    margin-top: 40px;
    font-size: 13px;
    color: #999;
    margin-left: 320px;
}